.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: var(--line);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 31.25em) {
	.header {
		flex-wrap: wrap;
		align-content: space-around;
		height: 11rem; 
	} 
}

.logo {
	height: 6.25rem;
	margin-left: 2rem;
}

.user-nav {
	align-self: stretch;	
	display: flex;
	align-items: center;
}

.user-nav > * {
	padding: 0 2rem;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
}

.user-nav > *:hover {
	background-color: var(--color-grey-light-2);
}

.user-nav__icon-box {
	position: relative;
}

.user-nav__icon {
	height: 2.25rem;
	width: 2.25rem;
	fill: var(--color-grey-dark-2);
}

.user-nav__notification {
	font-size: .8rem;
	height: 1.75rem;
	width: 1.75rem;
	border-radius: 50%;
	background-color: var(--color-primary);
	color: #fff;
	position: absolute;
	top: 1.5rem;
	right: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-nav__user-photo {
	height: 3.75rem;
	border-radius: 50%;
}

.search {
	flex: 0 0 40%;
	display: flex;
	align-items: center;
	justify-content: center; 
}

@media only screen and (max-width: 31.25em) {
	.search {
		order: 1;
		flex: 0 0 100%;
		background-color: var(--color-grey-light-2); 
	} 
}

.search__input {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: var(--color-grey-light-2);
	border: none;
	padding: .7rem 2rem;
	border-radius: 100px;
	width: 90%;
	transition: all .2s;
	margin-right: -3.25rem; 
}

.search__input:focus {
	outline: none;
	width: 100%;
	background-color: var(--color-grey-light-3); 
}

.search__input::-webkit-input-placeholder {
	font-weight: 100;
	color: var(--color-grey-light-4); 
}

.search__input:focus + .search__button {
	background-color: var(--color-grey-light-3); 
}

.search__button {
	border: none;
	background-color: var(--color-grey-light-2); 
}

.search__button:focus {
	outline: none; 
}

.search__button:active {
	transform: translateY(2px); 
}

.search__icon {
	height: 2rem;
	width: 2rem;
	fill: var(--color-grey-dark-3);
}


.dropdown-content {	
	width: 159.998px;
	top: 63.8891px;
	transform-origin: 100% 0px;
	opacity: 1;
	transform: scaleX(1) scaleY(1);
	position: absolute;
	z-index: 9999;
	overflow-y: auto;
	min-width: 100px;
	margin: 0;
	background-color: #fff;
	right: 1px;
	padding: 1rem;
	box-shadow: var(--shadow-dark);
	border-radius: 1rem;
}

.dropdown-content ul:not(.browser-default) > li {
	list-style-type: none;
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 1.6rem;
	line-height: 22px;
	display: block;
	padding: .8rem;
	text-decoration: none;
}

.dropdown__icon {
	height: 2rem;
	width: 2rem;
	fill: var(--color-grey-dark-2);
	margin-right: 10px;
	vertical-align:middle;
}