.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: var(--line);

	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media only screen and (max-width: 31.25em) {
	.header {
		flex-wrap: wrap;
		align-content: space-around;
		height: 11rem; 
	} 
}

.logo {
	height: 6.25rem;
	margin-left: 2rem;
}

.user-nav {
	align-self: stretch;	
	display: flex;
	align-items: center;
}

.user-nav > * {
	padding: 0 2rem;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
}

.user-nav > *:hover {
	background-color: var(--color-grey-light-2);
}

.user-nav__icon-box {
	position: relative;
}

.user-nav__icon {
	height: 2.25rem;
	width: 2.25rem;
	fill: var(--color-grey-dark-2);
}

.user-nav__notification {
	font-size: .8rem;
	height: 1.75rem;
	width: 1.75rem;
	border-radius: 50%;
	background-color: var(--color-primary);
	color: #fff;
	position: absolute;
	top: 1.5rem;
	right: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-nav__user-photo {
	height: 3.75rem;
	border-radius: 50%;
}